<h1>About Us</h1>
<p>
  We are a group of people who hate travelling in crowded cities and spending excessively on travel.
  So, we decided to make our lives easier and built this application.
<p>
<br/>
<p>
  We suggest places which are midway for all your group of friends.
  Along with your friends you can decide on a place to hangout.
  Avoid the travel woes and have fun with your friends.
</p>
<br/>
<p>
  If you have any suggestions for us, feel free to get in touch with us.
  <a href="">Contact us</a>.
</p>
